# System files
.DS_Store

# Log files
*.log

# Environment files
.env
# 忽略依赖文件夹和临时文件
node_modules
/client/dist
npm-debug.log*

# 忽略 WASM 编译时的临时文件
/client/public/wasm/*.wasm
/client/public/wasm/*.js.map
